* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'coldiacregular';
    src: url('http://127.0.0.1:5500/coldiac-webfont.woff2') format('woff2'),
         url('http://127.0.0.1:5500/coldiac-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'coldiacregular';
    src: url('coldiac-webfont.woff2') format('woff2'),
         url('coldiac-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0;
  font-family: 'coldiacregular', serif;
  font-weight: bold;
  color: var(--dark);
  font-size: 16px;
  
}

/* HEADER STYLING */

.header {
    overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #2595bedd;
  max-width: 90%;
  margin: 0 5% 0 5%;
}

#navLinks {
    display: none;
    align-items: center;
    justify-content: center;
}

.header a {
    color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.dropdown {
    display: flex;
    justify-content: center;
    height: min-content;
    padding-right: 1rem;
}

.dropdown a {
    height: 50%;
    width: auto;
}

#navLinks a {
    color: #2596be;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  
}

.header a.icon {
    background: #2596be;
  }

.header a:hover {
    background-color: rgba(221, 221, 221, 0.346);
    color: black;
  }


.header-logo {
    border-bottom: 3px solid #2596bedd;
    
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 20%;
    height: auto;
}

nav {
    width: 40% ;
}

.nav {
    display: flex;
    flex-direction: row;
    align-content: end;
}

.nav li {
    list-style: none;
}

.gradient-border {
    border-bottom: 3px solid;
    border-image: linear-gradient(45deg, #3f9cbf, #2596bedd) 1;
  }

  /* END HEADER */
main {
    max-width: 90%;
    margin: 0 5% 0 5%;

}

/* HERO */

#hero {
    background-image: url("../assets/images/meeting.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: auto;
}

.banner-gradient {
    background-color: #2595be82;
}

.hero-text {
    /* display: flex;
    justify-items: center;
    align-items: center; */
    padding: 10% 5%;
    overflow: none;
}


.hero-cta {
    display: flex;
    position: relative;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: left;
    /* background-color: #3f9dbfd0; */
}

.cta-text {
    /* padding: 1rem; */
    margin: 0;
    word-wrap: break-word;
}

.hero-cta h1 {
 font-size: 50px;
 text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
}

.hero-cta p {
 font-size: 22px;
 text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
}

@media screen and (min-width: 800px) {
    .header {
        display: flex;
        flex: column;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-between;
    }

    .gradient-border {
        border: none;
    }

    .icon-wrapper {
        width: 100%
    }
    .logo {
        padding: 0 0 0.5rem 0.5rem;
    }
    .logo {
        width: 20%;
        height: auto;
    }

    .logo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo-text {
       margin: 0;
    }

    .logo-underline {
        text-align: center;
        width: 70%;
        margin: 0;
        border-bottom: 2px solid #2596be;
    }
    .dropdown {
        display: none;
    }

    #navLinks {
        display: inline-flex;
        color: #ffffff;
        justify-content: flex-end;
        padding-right: 1rem;
        width: 100%;
        

    }

    #navLinks a {
        display: inline-flex;
        background-color: #ffffff;
        color: #203c58;
        margin: 5px 2px 5px 2px;
        border-radius: 5%;
        
        
    }

    
    #navLinks a:hover {
        background-color: #eef4f9;
    }

    .banner-gradient {
        background-color: #ffffff00;
        background-image: linear-gradient(45deg, rgba(255,0,0,0), #2595bec1);
    }

    .hero-text {
        /* display: flex;
        justify-items: center;
        align-items: center; */
        padding: 10% 30%;
        
    }

    .cta-text {
        text-align: left;
    }
    
}

@media screen and (min-width: 1024px) {
    .logo {
        width: 20%;
        height: auto;
    }
}

