* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
    font-family: 'coldiacregular';
    src: url('http://127.0.0.1:5500/coldiac-webfont.woff2') format('woff2'),
         url('http://127.0.0.1:5500/coldiac-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'coldiacregular';
    src: url('coldiac-webfont.woff2') format('woff2'),
         url('coldiac-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p, li {
    /* font-family: 'Times New Roman', Times, serif; 
    font-weight: 500;
    color:#0f253b;
    font-size: 20px;  */
}

p {
    line-height: 1.3rem;
}

body {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0;
  font-family: 'coldiacregular', serif;
  font-weight: bold;
  color: var(--dark);
  font-size: 18px;
  
}

/* HEADER STYLING */

.header {
    overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 5% 0 5%;
}

.header a, header a:visited , header a:active {
    text-decoration: none;
    color: initial;
}

#navLinks {
    display: none;
    align-items: center;
    justify-content: center;
}

.dropdown, .navLinks {
    color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.dropdown {
    display: flex;
    justify-content: center;
    width: min-content;
    height: auto;
    padding: 0.5rem 0;
}

.dropdown a {
    height: 50%;
    width: auto;
    padding: 0.8rem;
    color: white;
}

#navLinks a {
    color: #203c58;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-top: 1px solid #203c58;
}

.header a.icon {
    background: #2596be;
  }

.header a:active {
    background-color: rgba(221, 221, 221, 0.346);
    color: black;
  }


.header-logo {
    border-bottom: 3px solid #2596bedd;
    
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.icon-wrapper img {
    width: 15%;
    height: auto;
}

.logo {
    width: 15%;
    height: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#logo-text {
   margin: 0;
}

.logo-underline {
    text-align: center;
    width: 78%;
    margin: 0;
    padding-top: 0.25rem;
    border-bottom: 2px solid #203c58;
}

nav {
    width: 40% ;
}

.nav {
    display: flex;
    flex-direction: row;
    align-content: end;
}

.nav li {
    list-style: none;
}


  /* END HEADER */

/* HERO */

#hero {
    background-image: url("../assets/images/meeting.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: auto;
    /* font-family: 'Adelle Sans', Helvetica, Arial, sans-serif; */
    animation: 2s ease-out 0s 1 hero-fade;
    animation-fill-mode: forwards;
}

@keyframes hero-fade {
    0% { opacity: 0; height: 0%;}
    100% {opacity: 1; height: 100% }
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10% 5%;
    overflow: none;
}


.hero-cta {
    display: flex;
    position: relative;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    text-align: left;
    background-image: linear-gradient(to bottom, #203c58d0, #203c5820);
    padding: 1rem;

}

.cta-text {
    padding: 0.5rem ;
    margin: 0;
    word-wrap: break-word;
    text-align: left;
}

.cta-button {
    margin-top: 1rem;
    background-color: #203c58;
    box-shadow: 2px 2px 3px black;
}

.cta-button:hover {
    animation: cta-button 0.5s forwards;
    cursor: pointer;
}

@keyframes cta-button {
    0% {}
    100% { 
        /* transform: translatey(1px); */
        transform: scale(1.03);
        background-color: #203c58d9;
     }
}

.cta-button h2 {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.511));
    padding: 1rem 1rem;
    color: white;
}

.cta-button a {
    text-decoration: none;
    color: white;
}

.hero-cta h1 {
 font-size: 36px;
 text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
}

.hero-cta h3 {
    font-size: 30;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
}

.hero-cta p {
 font-size: 20px;
 text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
}

 /* END HERO  */

 /* START BODY  */

 .divider {
    width: 80%;
    height: 1px;
    border-top: 2px solid #2596be;
    margin: none;
 }

 #about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 100%;
    background-color: #203c58;
    overflow:hidden;
 }

 #about img {
    width: 80%;
    height: auto;
 }

 .about-wrapper {
    width: 80%;
    color: white;
    padding: 2rem;
    margin: 0.5rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
 }

 .about h2 {
    display: inline-block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-bottom: 1rem;
 }

 .about h3 {
    padding-top: 1rem;
 }
 .about h4, .about p {
    padding-top: 0.5rem;
 }


 #about-header {
    padding-top: none;
 }

 main h1, main h2, .contact h2 {
    padding: 0.75rem 1rem;
    margin: 0.25rem 0;
    color: #203c58;
    display: inline-block;
    border-bottom: 2px solid #203c58;
    margin-bottom: 1rem;
}


main h3 {
    padding-bottom: 1rem;
}



 main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    max-width: 90%;
    margin: 0 5% 0 5%;
 }


 main ul { 
    padding: 0;
    text-align: left;
 }

 main li {
    padding: 0.5rem 1rem;
    list-style-type: circle;
    border-top: 1px solid #203c58;
 }
 main div img {
    max-width: 100%;
  }
 

 .service-menu, .specialty-menu, .contact {
  margin-bottom: 1rem;
  padding: 1rem 1rem;
 }

 .specialty-menu li {
    border: none;
    padding: 1rem 1rem 0 0;
 }

 .specialty-menu li:hover {
    animation-name: li-hover;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards ;
 }

 @keyframes li-hover {
    0% { font-size: large;}
    100% {font-size: larger;}
 }

 .cta-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 .cta {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 15%;
    border: 6px solid #203c58;
    width: 100%;
    margin: 1rem 0;
 }

 .cta-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
 }

 .cta-form p {
    padding: 1rem 0;
 }

 .cta-form button {
    background-color: #203c58;
    color: white;
  border: none;
  padding: 1.25rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
 }

 .cta-form a {
    text-decoration: underline;
    color: #2596be;
 }

 

 .cta-form input, .form-textarea {
    font: initial;
    display: block;
    padding: 0.75rem 0.5rem;
    width: 100%;
    margin-top: 1.5rem;
    border: 2px solid #203c58;
    border-style: solid;
 }

 #description {
    padding: 0.75rem 0.5rem 3rem 0.5rem;
    overflow-wrap: break-word;
    font: initial
 }


 /* END BODY/MAIN  */


 /* TESTIMONIALS */

 .testimonials-container {
    display: flex;
    /* justify-content: center;
    padding: 3rem 0; */
 }

 .testimonials {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .testimonials h1 {
    border-bottom: 2px solid #203c58;
 }

 .testimonials h3 {
    padding-bottom: 0;
 }

 .testimonial {
    width: 50%;
    padding: 1rem 0;
    text-align: left;
 }

 .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .contact h2 {
    color: white;
    border-bottom: 2px solid white;
    padding-top: none;
 }

 .footer {
    padding: none;
    color: white;
    background-color: #203c58;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

  .job-listings-header {
     display: block;
     background-color: #203c58;
     color: white;
     padding: 1.5rem 2rem;
  }

 .job-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .job-listings div {
    padding: 1rem 0;
 }

 .job-listings div a {
    text-decoration: underline;
    color: #203c58;
}

.job-listings div a:hover {
    text-decoration:double;
    color: rgb(255, 0, 0);

 }

 #report-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
 }



@media screen and (min-width: 800px) {
.body {
    font-size: 16px;
}

    .header {
        display: flex;
        flex: column;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-between;
    }

    .icon-wrapper {
        width: 100%
    }
    .logo {
        padding: 0 0 0.5rem 0.5rem;
        height: auto;
        width: 15%;
    }
        
    .logo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #logo-text {
       margin: 0;
    }

    .logo-underline {
        text-align: center;
        width: 78%;
        margin: 0;
        padding-top: 0.25rem;
        border-bottom: 2px solid #203c58;
    }
    .dropdown {
        display: none;
    }

    #navLinks {
        display: inline-flex;
        color: #ffffff;
        justify-content: flex-end;
        padding-right: 1rem;
        width: 100%;
        

    }

    #navLinks a {
        display: inline-flex;
        background-color: #ffffff;
        color: #203c58;
        margin: 5px 2px 5px 2px;
        border-radius: 5%;
        border: none;
        
    }

    
    #navLinks a:hover {
        background-color: #eef4f9;
        animation-name: a-hover;
        animation-duration: 0.3s;
        animation-timing-function:ease-out;
        animation-fill-mode: forwards ;
    }

    @keyframes a-hover {
        0% { box-shadow: none;}
        100% { box-shadow: 2px 2px 2px #203c5895}
    }

    /* .banner-gradient {
        background-color: #ffffff00;
        background-image: linear-gradient(45deg, rgba(255,0,0,0), #2595bec1);
    } */

    .hero-text {
        /* display: flex;
        justify-items: center;
        align-items: center; */
        padding: 10% 30%;
        
    }

    .hero-cta h1, .hero-cta h3 {
        font-size: 40px;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
       }
       
       .hero-cta p {
        font-size: 20px;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
       }

    .cta-text {
        text-align: left;
    }

    #about img {
        width: 50%;
        height: auto;
     }

    .about-wrapper {
        width: 50%;
        color: white;
     }

    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        /* margin: 0 10%; */
        padding-top: 1rem;
        max-width: 100%;
        margin: 0 5% 5% 5%;
     }

    .service-menu, .specialty-menu {
        display: inline;
        max-width: 50%;
        background: none
    };

    .panel-left, .panel-right {
        padding-left: 0.5rem;
        border-left: 2px solid #203c58;
    }
    
    .panel-left {
        padding-right: 2rem;
        width: 100%;
     }
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        /* margin: 0 10%; */
        padding-top: 1rem;
        max-width: 100%;
        margin: 0 10% 5% 10%;   
    }
    .body {
        font-size: 16px;
    }

    .logo {
        width: 15%;
        height: auto;
    }
    .hero-cta h1, .hero-cta h3 {
        font-size: 40px;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
       }
       
       .hero-cta p {
        font-size: 20px;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 80%);
       }

}



 @media screen and (min-width: 1400px) {
    main {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        /* margin: 0 10%; */
        padding-top: 1rem;
        max-width: 100%;
        margin: 0 15% 5% 15%;
     }
     
}